<a href="https://colab.research.google.com/github/i-am-akash/Pyspark_Practice/blob/main/GroupByExampleDf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   Display the total numbers of students enrolled in each course.
2.   Display the toatl number of male and female students enrolled n each course
3. Display the total marks achiecved by each gender in each course.
4. Display the miminum, maximum and average marks achieed in each course by each age group.

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=3717667b238fb33beb34c863f166ac499ea408bd699a6cce961b1ebd948d1254
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
spark = SparkSession.builder.appName("groupby").getOrCreate()

In [31]:
studentDf = spark.read.options(header=True,inferschema=True).csv("/content/sample_data/student_data.csv")
studentDf.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

#Display the total numbers of students enrolled in each course.

In [21]:
studentDf.groupBy("course").count().show()
studentDf.groupBy("course").agg(count("*").alias("Total Count")).show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

+------+-----------+
|course|Total Count|
+------+-----------+
|    PF|        166|
|    DB|        157|
|   MVC|        157|
|   DSA|        176|
| Cloud|        192|
|   OOP|        152|
+------+-----------+

#Display the toatl number of male and female students enrolled n each course

In [ ]:
studentDf.groupBy("gender","course").count().show()

In [24]:
studentDf.groupBy("course","gender").agg(count("*").alias("Total Count")).show()

+------+------+-----------+
|course|gender|Total Count|
+------+------+-----------+
|   OOP|  Male|         70|
|    DB|  Male|         82|
| Cloud|Female|        106|
|   MVC|  Male|         86|
|   DSA|Female|         98|
|    PF|  Male|         97|
|   MVC|Female|         71|
| Cloud|  Male|         86|
|    PF|Female|         69|
|   DSA|  Male|         78|
|    DB|Female|         75|
|   OOP|Female|         82|
+------+------+-----------+

#Display the total marks achiecved by each gender in each course.

In [32]:
studentDf.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [34]:
studentDf.groupBy("course","gender").sum("marks").show()

+------+------+----------+
|gender|course|sum(marks)|
+------+------+----------+
|Female| Cloud|      6316|
|Female|   OOP|      4682|
|  Male|    PF|      5960|
|  Male|    DB|      5073|
|  Male| Cloud|      5127|
|  Male|   OOP|      4234|
|Female|   DSA|      6124|
|Female|    DB|      4197|
|  Male|   DSA|      4826|
|  Male|   MVC|      5241|
|Female|   MVC|      4344|
|Female|    PF|      3973|
+------+------+----------+

In [35]:
studentDf.groupBy("gender","course").agg(sum("marks").alias("Total marks")).show()

+------+------+-----------+
|gender|course|Total marks|
+------+------+-----------+
|Female| Cloud|       6316|
|Female|   OOP|       4682|
|  Male|    PF|       5960|
|  Male|    DB|       5073|
|  Male| Cloud|       5127|
|  Male|   OOP|       4234|
|Female|   DSA|       6124|
|Female|    DB|       4197|
|  Male|   DSA|       4826|
|  Male|   MVC|       5241|
|Female|   MVC|       4344|
|Female|    PF|       3973|
+------+------+-----------+

#Display the miminum, maximum and average marks achieed in each course by each age group.

In [38]:
studentDf.groupBy("gender","age").agg(min("marks").alias("Minimum Marks"),max("marks").alias("Maximum Marks"),avg("marks").alias("Average Marks")).show()

+------+---+-------------+-------------+------------------+
|gender|age|Minimum Marks|Maximum Marks|     Average Marks|
+------+---+-------------+-------------+------------------+
|Female| 29|           20|           99| 58.85306122448979|
|Female| 28|           20|           99|       59.44140625|
|  Male| 28|           20|           99| 61.61344537815126|
|  Male| 29|           20|           99|60.524904214559385|
+------+---+-------------+-------------+------------------+

#**WordCount Problem**

In [43]:
wrdcount =  spark.read.options(inferschema = True).text("/content/sample_data/WordData.txt")
wrdcount.show()

+------+
| value|
+------+
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Apple|
|   Mic|
|   Mic|
| Apple|
|Laptop|
| Chair|
| Chair|
| Chair|
|   Bag|
|Mobile|
|  Book|
| Chair|
| Chair|
| Chair|
|   Bag|
+------+
only showing top 20 rows

In [44]:
wrdcount.groupBy("value").count().show()

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
|      |    1|
+------+-----+