<a href="https://colab.research.google.com/github/i-am-akash/Pyspark_Practice/blob/main/pyspark_df_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This is the quiz on dataframe select, withcoulm filter 

Problem statement :

1.   Read the student csv file 
2.   Write code to display unique rows for age, gender, course,

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 61.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=a20f5251d86c9d327c590d83e3767f18c8039de3cbafe7ae2cc25b6e16cffb96
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [6]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *

In [9]:
spark = SparkSession.builder.appName("quiz").getOrCreate()

In [21]:
df = spark.read.options(header = "True").csv("/content/sample_data/student_data.csv")

In [22]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [25]:
df = df.select("age","gender","course").distinct()
df.show()
df.count()

+---+------+------+
|age|gender|course|
+---+------+------+
| 28|Female|   OOP|
| 28|  Male|    DB|
| 29|  Male|   OOP|
| 29|  Male|   DSA|
| 28|Female|    PF|
| 28|Female|   DSA|
| 29|  Male|   MVC|
| 29|Female|    PF|
| 29|  Male|    DB|
| 29|Female|   MVC|
| 29|Female|    DB|
| 28|  Male|   OOP|
| 28|  Male|   DSA|
| 28|Female|   MVC|
| 28|  Male|   MVC|
| 28|Female|    DB|
| 29|Female|   DSA|
| 29|Female| Cloud|
| 28|  Male| Cloud|
| 29|Female|   OOP|
+---+------+------+
only showing top 20 rows

24

In [28]:
df.drop_duplicates(["age","gender","course"])
df.count()

24

#Quiz sort By Oreder by \


1.   Use Office_Data.csv
2.   Create a DF, sorted on bonus in ascending ordre and show it.
3.   Create a DF sorted on age and salary in descending and ascending respectively show it
4. Create a DF sorted on age bonus and salary in desceding, descending and ascednging order respectlivly and show it.