<a href="https://colab.research.google.com/github/i-am-akash/Pyspark_Practice/blob/main/sparkdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Spark DataFrame Practice common fns

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 34.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=12ef31505d658769ff3948bd7a130634069fb76a4d4a83fc504287283c6268bb
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [45]:
from pyspark import SparkContext, SparkConf, sql
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
conf = SparkConf().setAppName("rdd_session")
sc = SparkContext.getOrCreate(conf = conf)
spark = SparkSession.builder.appName("df_session").getOrCreate()

#Reading the file using df

---

In [73]:
df = spark.read.options(inferSchema = "True", header = "True").csv("/content/sample_data/california_housing_test.csv")
df.show()
df.printSchema()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

#providing Schema explicilty

In [41]:
schema = StructType([
  StructField("longitude", DoubleType(), True),
  StructField("latitude", DoubleType(), True),
  StructField("housing_median_age", StringType(), True),
  StructField("total_rooms",StringType(), True),
  StructField("total_bedrooms", StringType(), True),
  StructField("population", StringType(), True),
  StructField("households", StringType(), True),
  StructField("median_income", DoubleType(), True),
  StructField("median_house_value", DoubleType(), True)
])

In [48]:
df_schema = spark.read.options(header = "True").schema(schema).csv("/content/sample_data/california_housing_test.csv")
df_schema = df_schema.withColumn("total_rooms", col("total_rooms").cast("Int"))
df_schema.show()
df_schema.printSchema()

+---------+--------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  -122.05|   37.37|         27.000000|       3885|    661.000000|1537.000000| 606.000000|       6.6085|          344700.0|
|   -118.3|   34.26|         43.000000|       1510|    310.000000| 809.000000| 277.000000|        3.599|          176500.0|
|  -117.81|   33.78|         27.000000|       3589|    507.000000|1484.000000| 495.000000|       5.7934|          270500.0|
|  -118.36|   33.82|         28.000000|         67|     15.000000|  49.000000|  11.000000|       6.1359|          330000.0|
|  -119.67|   36.33|         19.000000|       1241|    244.000000| 850.000000| 237.000000|       2.9375|           81700.0|
|  -119.56|   36.51|         37.000000|       1018|    213.000000| 663.000000| 204.000000|       1.6635|           67000.0|
|  -121.43|   38.63|         43.000000|       1009|    225.000000| 604.000000| 218.000000|       1.6641|           67000.0|
|  -120.65|   35.48|         19.000000|       2310|    471.000000|1341.000000| 441.000000|        3.225|          166900.0|
|  -122.84|    38.4|         15.000000|       3080|    617.000000|1446.000000| 599.000000|       3.6696|          194400.0|
|  -118.02|   34.08|         31.000000|       2402|    632.000000|2830.000000| 603.000000|       2.3333|          164200.0|
|  -118.24|   33.98|         45.000000|        972|    249.000000|1288.000000| 261.000000|       2.2054|          125000.0|
|  -119.12|   35.85|         37.000000|        736|    166.000000| 564.000000| 138.000000|       2.4167|           58300.0|
|  -121.93|   37.25|         36.000000|       1089|    182.000000| 535.000000| 170.000000|         4.69|          252600.0|
|  -117.03|   32.97|         16.000000|       3936|    694.000000|1935.000000| 659.000000|       4.5625|          231200.0|
|  -117.97|   33.73|         27.000000|       2097|    325.000000|1217.000000| 331.000000|       5.7121|          222500.0|
|  -117.99|   33.81|         42.000000|        161|     40.000000| 157.000000|  50.000000|          2.2|          153100.0|
|  -120.81|   37.53|         15.000000|        570|    123.000000| 189.000000| 107.000000|        1.875|          181300.0|
|   -121.2|   38.69|         26.000000|       3077|    607.000000|1603.000000| 595.000000|       2.7174|          137500.0|
|  -118.88|   34.21|         26.000000|       1590|    196.000000| 654.000000| 199.000000|       6.5851|          300000.0|
|  -122.59|   38.01|         35.000000|       8814|   1307.000000|3450.000000|1258.000000|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: integer (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

#Created DF from RDD

In [60]:
rdd = sc.textFile("/content/sample_data/california_housing_test.csv")
header = rdd.first()
columns = header.split(",")
rdd = rdd.filter(lambda x : x!=header).map(lambda x : x.split(","))
df_rdd = rdd.toDF(columns)
df_rdd.show()

+-----------+----------+--------------------+-------------+----------------+------------+------------+---------------+--------------------+
|"longitude"|"latitude"|"housing_median_age"|"total_rooms"|"total_bedrooms"|"population"|"households"|"median_income"|"median_house_value"|
+-----------+----------+--------------------+-------------+----------------+------------+------------+---------------+--------------------+
|-122.050000| 37.370000|           27.000000|  3885.000000|      661.000000| 1537.000000|  606.000000|       6.608500|       344700.000000|
|-118.300000| 34.260000|           43.000000|  1510.000000|      310.000000|  809.000000|  277.000000|       3.599000|       176500.000000|
|-117.810000| 33.780000|           27.000000|  3589.000000|      507.000000| 1484.000000|  495.000000|       5.793400|       270500.000000|
|-118.360000| 33.820000|           28.000000|    67.000000|       15.000000|   49.000000|   11.000000|       6.135900|       330000.000000|
|-119.670000| 36.330000|           19.000000|  1241.000000|      244.000000|  850.000000|  237.000000|       2.937500|        81700.000000|
|-119.560000| 36.510000|           37.000000|  1018.000000|      213.000000|  663.000000|  204.000000|       1.663500|        67000.000000|
|-121.430000| 38.630000|           43.000000|  1009.000000|      225.000000|  604.000000|  218.000000|       1.664100|        67000.000000|
|-120.650000| 35.480000|           19.000000|  2310.000000|      471.000000| 1341.000000|  441.000000|       3.225000|       166900.000000|
|-122.840000| 38.400000|           15.000000|  3080.000000|      617.000000| 1446.000000|  599.000000|       3.669600|       194400.000000|
|-118.020000| 34.080000|           31.000000|  2402.000000|      632.000000| 2830.000000|  603.000000|       2.333300|       164200.000000|
|-118.240000| 33.980000|           45.000000|   972.000000|      249.000000| 1288.000000|  261.000000|       2.205400|       125000.000000|
|-119.120000| 35.850000|           37.000000|   736.000000|      166.000000|  564.000000|  138.000000|       2.416700|        58300.000000|
|-121.930000| 37.250000|           36.000000|  1089.000000|      182.000000|  535.000000|  170.000000|       4.690000|       252600.000000|
|-117.030000| 32.970000|           16.000000|  3936.000000|      694.000000| 1935.000000|  659.000000|       4.562500|       231200.000000|
|-117.970000| 33.730000|           27.000000|  2097.000000|      325.000000| 1217.000000|  331.000000|       5.712100|       222500.000000|
|-117.990000| 33.810000|           42.000000|   161.000000|       40.000000|  157.000000|   50.000000|       2.200000|       153100.000000|
|-120.810000| 37.530000|           15.000000|   570.000000|      123.000000|  189.000000|  107.000000|       1.875000|       181300.000000|
|-121.200000| 38.690000|           26.000000|  3077.000000|      607.000000| 1603.000000|  595.000000|       2.717400|       137500.000000|
|-118.880000| 34.210000|           26.000000|  1590.000000|      196.000000|  654.000000|  199.000000|       6.585100|       300000.000000|
|-122.590000| 38.010000|           35.000000|  8814.000000|     1307.000000| 3450.000000| 1258.000000|       6.172400|       414300.000000|
+-----------+----------+--------------------+-------------+----------------+------------+------------+---------------+--------------------+
only showing top 20 rows

Another Way :

In [64]:
schema = StructType([
  StructField("longitude", StringType(), True),
  StructField("latitude", StringType(), True),
  StructField("housing_median_age", StringType(), True),
  StructField("total_rooms",StringType(), True),
  StructField("total_bedrooms", StringType(), True),
  StructField("population", StringType(), True),
  StructField("households", StringType(), True),
  StructField("median_income", StringType(), True),
  StructField("median_house_value", StringType(), True)
])

In [65]:
df_rdd_1 = spark.createDataFrame(rdd,schema=schema)
df_rdd_1.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

#Selecting Data Frame with Columns :

In [83]:
df = df.withColumn("longitude", col("longitude").cast("String"))
df.printSchema()
df.withColumn("longitude", col("longitude")).show()

root
 |-- longitude: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|             57.95|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|              61.7|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|             62.19|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|             61.64|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|             60.33|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|             60.44|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
| 58.56999999999999|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|59.349999999999994|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|             57.16|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|61.980000000000004|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|61.760000000000005|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|60.879999999999995|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
| 58.06999999999999|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|             62.97|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|             62.03|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|62.010000000000005|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|             59.19|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|              58.8|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|61.120000000000005|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|             57.41|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

#Create New COlumn

In [92]:

df_new_col = df.withColumn("personal_room", col("total_rooms")/col("total_bedrooms"))
df_new_col.show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|     personal_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|27.950000000000003|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0| 5.877458396369137|
|31.700000000000003|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0| 4.870967741935484|
|             32.19|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|7.0788954635108485|
|             31.64|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0| 4.466666666666667|
|             30.33|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0| 5.086065573770492|
|30.439999999999998|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0| 4.779342723004695|
|28.569999999999993|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0| 4.484444444444445|
|29.349999999999994|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0| 4.904458598726115|
|27.159999999999997|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0| 4.991896272285251|
|31.980000000000004|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0| 3.800632911392405|
|31.760000000000005|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|3.9036144578313254|
|30.879999999999995|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0| 4.433734939759036|
|28.069999999999993|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0| 5.983516483516484|
|             32.97|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0| 5.671469740634006|
|             32.03|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0| 6.452307692307692|
|32.010000000000005|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|             4.025|
|29.189999999999998|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0| 4.634146341463414|
|28.799999999999997|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0| 5.069192751235585|
|31.120000000000005|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0| 8.112244897959183|
|27.409999999999997|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0| 6.743687834736037|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows

#Renamed columns with columnRenamed :

In [93]:
df_new_col = df_new_col.withColumnRenamed("personal_room", "private_room")
df_new_col.show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|      private_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|27.950000000000003|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0| 5.877458396369137|
|31.700000000000003|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0| 4.870967741935484|
|             32.19|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|7.0788954635108485|
|             31.64|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0| 4.466666666666667|
|             30.33|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0| 5.086065573770492|
|30.439999999999998|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0| 4.779342723004695|
|28.569999999999993|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0| 4.484444444444445|
|29.349999999999994|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0| 4.904458598726115|
|27.159999999999997|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0| 4.991896272285251|
|31.980000000000004|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0| 3.800632911392405|
|31.760000000000005|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|3.9036144578313254|
|30.879999999999995|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0| 4.433734939759036|
|28.069999999999993|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0| 5.983516483516484|
|             32.97|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0| 5.671469740634006|
|             32.03|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0| 6.452307692307692|
|32.010000000000005|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|             4.025|
|29.189999999999998|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0| 4.634146341463414|
|28.799999999999997|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0| 5.069192751235585|
|31.120000000000005|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0| 8.112244897959183|
|27.409999999999997|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0| 6.743687834736037|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows

In [96]:
df_new_col.select(col('private_room').alias("alia")).show()

+------------------+
|              alia|
+------------------+
| 5.877458396369137|
| 4.870967741935484|
|7.0788954635108485|
| 4.466666666666667|
| 5.086065573770492|
| 4.779342723004695|
| 4.484444444444445|
| 4.904458598726115|
| 4.991896272285251|
| 3.800632911392405|
|3.9036144578313254|
| 4.433734939759036|
| 5.983516483516484|
| 5.671469740634006|
| 6.452307692307692|
|             4.025|
| 4.634146341463414|
| 5.069192751235585|
| 8.112244897959183|
| 6.743687834736037|
+------------------+
only showing top 20 rows

In [97]:
df_new_col.filter(col("latitude") == 37.37).show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|      private_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|27.950000000000003|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0| 5.877458396369137|
|28.120000000000005|   37.37|              14.0|     6016.0|        1404.0|    3258.0|    1316.0|       3.5745|          333700.0| 4.284900284900285|
|27.870000000000005|   37.37|              30.0|     2139.0|         260.0|     742.0|     242.0|       11.806|          500001.0| 8.226923076923077|
|28.189999999999998|   37.37|              26.0|     2987.0|         539.0|    1931.0|     518.0|       5.1099|          213100.0| 5.541743970315399|
|27.879999999999995|   37.37|              37.0|     1446.0|         181.0|     549.0|     190.0|      10.7355|          500001.0| 7.988950276243094|
|             27.89|   37.37|              49.0|     1068.0|         190.0|     410.0|     171.0|       7.2045|          500001.0| 5.621052631578947|
|28.019999999999996|   37.37|              35.0|      995.0|         202.0|     615.0|     199.0|       5.0942|          217500.0| 4.925742574257426|
|28.049999999999997|   37.37|              39.0|      446.0|         129.0|     317.0|     127.0|       3.0357|          208300.0|3.4573643410852712|
|              29.5|   37.37|              18.0|     8606.0|        1678.0|    5303.0|    1644.0|       2.4012|           79700.0| 5.128724672228844|
|             28.17|   37.37|              43.0|     1461.0|         284.0|     800.0|     258.0|       3.2279|          182400.0| 5.144366197183099|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+

In [98]:
df_new_col.filter((col("latitude") == 37.37)& (col("total_rooms") == 1446.0)).show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|     private_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----------------+
|27.879999999999995|   37.37|              37.0|     1446.0|         181.0|     549.0|     190.0|      10.7355|          500001.0|7.988950276243094|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-----------------+

In [102]:
df_new_col.filter(df_new_col.latitude.startswith("3")).show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|      private_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|27.950000000000003|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0| 5.877458396369137|
|31.700000000000003|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0| 4.870967741935484|
|             32.19|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|7.0788954635108485|
|             31.64|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0| 4.466666666666667|
|             30.33|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0| 5.086065573770492|
|30.439999999999998|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0| 4.779342723004695|
|28.569999999999993|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0| 4.484444444444445|
|29.349999999999994|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0| 4.904458598726115|
|27.159999999999997|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0| 4.991896272285251|
|31.980000000000004|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0| 3.800632911392405|
|31.760000000000005|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|3.9036144578313254|
|30.879999999999995|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0| 4.433734939759036|
|28.069999999999993|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0| 5.983516483516484|
|             32.97|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0| 5.671469740634006|
|             32.03|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0| 6.452307692307692|
|32.010000000000005|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|             4.025|
|29.189999999999998|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0| 4.634146341463414|
|28.799999999999997|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0| 5.069192751235585|
|31.120000000000005|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0| 8.112244897959183|
|27.409999999999997|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0| 6.743687834736037|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows

In [104]:
df_new_col.filter(df_new_col.latitude.endswith("3")).show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|      private_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|             30.33|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0| 5.086065573770492|
|28.569999999999993|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0| 4.484444444444445|
|             32.03|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0| 6.452307692307692|
|29.189999999999998|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0| 4.634146341463414|
|30.650000000000006|   36.33|              14.0|     1195.0|         220.0|     568.0|     229.0|       3.1486|          105600.0| 5.431818181818182|
|31.950000000000003|   33.93|              31.0|      894.0|         203.0|     883.0|     190.0|       3.6771|          141500.0| 4.403940886699507|
|30.989999999999995|   34.23|              11.0|     5785.0|        1035.0|    2760.0|     985.0|        4.693|          232200.0|5.5893719806763285|
|31.769999999999996|   34.13|              48.0|     1308.0|         286.0|     835.0|     294.0|       4.2891|          214800.0| 4.573426573426573|
|32.010000000000005|   33.93|              36.0|     1287.0|         233.0|     779.0|     229.0|       4.8523|          175800.0| 5.523605150214593|
|28.069999999999993|   37.33|              44.0|     1449.0|         291.0|     676.0|     282.0|        3.575|          292200.0| 4.979381443298969|
|             28.22|   37.23|              18.0|     1747.0|         317.0|    1055.0|     285.0|        5.898|          229100.0| 5.511041009463723|
|             32.78|   32.73|              38.0|     3966.0|         768.0|    1640.0|     729.0|       3.8409|          291400.0|         5.1640625|
|             28.08|   37.33|              52.0|     2125.0|         382.0|     930.0|     387.0|       5.2831|          299500.0|  5.56282722513089|
|             32.05|   33.63|              27.0|     2489.0|         481.0|    1082.0|     443.0|       5.8777|          358800.0| 5.174636174636174|
|32.269999999999996|   33.63|              15.0|     2874.0|         592.0|    1382.0|     586.0|       5.5137|          161800.0|  4.85472972972973|
|28.040000000000006|    37.3|              20.0|     4228.0|        1006.0|    2334.0|    1007.0|       4.3081|          227300.0| 4.202783300198807|
|31.810000000000002|   33.93|              42.0|     1829.0|         391.0|    1614.0|     377.0|       3.1912|          146400.0|  4.67774936061381|
|29.069999999999993|   37.73|              14.0|     2799.0|         618.0|    2294.0|     596.0|       2.6343|           81500.0| 4.529126213592233|
|             32.81|   34.03|              25.0|     2513.0|         340.0|     900.0|     320.0|       6.4962|          182400.0| 7.391176470588236|
|             27.58|   37.73|              50.0|     3426.0|         769.0|    2261.0|     671.0|        2.888|          246400.0| 4.455136540962289|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows

In [105]:
df_new_col.filter(df_new_col.latitude.contains("3")).show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|      private_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|27.950000000000003|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0| 5.877458396369137|
|31.700000000000003|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0| 4.870967741935484|
|             32.19|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|7.0788954635108485|
|             31.64|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0| 4.466666666666667|
|             30.33|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0| 5.086065573770492|
|30.439999999999998|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0| 4.779342723004695|
|28.569999999999993|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0| 4.484444444444445|
|29.349999999999994|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0| 4.904458598726115|
|27.159999999999997|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0| 4.991896272285251|
|31.980000000000004|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0| 3.800632911392405|
|31.760000000000005|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|3.9036144578313254|
|30.879999999999995|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0| 4.433734939759036|
|28.069999999999993|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0| 5.983516483516484|
|             32.97|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0| 5.671469740634006|
|             32.03|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0| 6.452307692307692|
|32.010000000000005|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|             4.025|
|29.189999999999998|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0| 4.634146341463414|
|28.799999999999997|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0| 5.069192751235585|
|31.120000000000005|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0| 8.112244897959183|
|27.409999999999997|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0| 6.743687834736037|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows

In [107]:
df_new_col.filter(df_new_col.latitude.like("%1")).show()

+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|         longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|      private_room|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|30.439999999999998|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0| 4.779342723004695|
|32.010000000000005|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|             4.025|
|31.120000000000005|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0| 8.112244897959183|
|27.409999999999997|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0| 6.743687834736037|
|31.519999999999996|   34.01|              30.0|     3078.0|         954.0|    1561.0|     901.0|       3.4852|          425000.0|3.2264150943396226|
|31.700000000000003|   33.91|              34.0|     1617.0|         493.0|    1530.0|     500.0|       2.6182|          172600.0| 3.279918864097363|
|28.870000000000005|   39.31|              17.0|     3442.0|         705.0|    1693.0|     619.0|       2.8102|          128900.0| 4.882269503546099|
|26.480000000000004|   41.01|              17.0|     1564.0|         345.0|     517.0|     222.0|       2.1542|           83800.0| 4.533333333333333|
| 32.06999999999999|   33.91|              24.0|     1698.0|         297.0|     676.0|     273.0|       5.2017|          364600.0| 5.717171717171717|
|31.950000000000003|    34.1|              36.0|     1606.0|         318.0|     889.0|     294.0|       4.7931|          272600.0| 5.050314465408805|
|             33.03|   32.81|              19.0|     1573.0|         471.0|     844.0|     414.0|       2.1422|          125000.0|3.3397027600849256|
|28.099999999999994|   36.61|              29.0|     3412.0|         827.0|    1574.0|     759.0|       2.9309|          217100.0| 4.125755743651753|
|31.870000000000005|    34.1|              19.0|     2742.0|         756.0|    1396.0|     703.0|       2.5663|          197500.0| 3.626984126984127|
|             31.86|   34.71|              32.0|     1164.0|         248.0|     588.0|     270.0|       1.1917|           86900.0| 4.693548387096774|
|31.709999999999994|   33.91|              31.0|     2025.0|         618.0|    2231.0|     593.0|       2.4741|          151200.0|3.2766990291262137|
|31.680000000000007|   33.91|              34.0|     3041.0|         677.0|    1920.0|     640.0|       4.5304|          181300.0|4.4918759231905465|
|             32.61|    34.1|              12.0|     7184.0|        1516.0|    4862.0|    1235.0|       2.4492|          103800.0| 4.738786279683377|
|32.019999999999996|    34.1|              22.0|     5661.0|        1209.0|    5389.0|    1178.0|       3.7727|          159700.0| 4.682382133995037|
|32.239999999999995|   33.71|              15.0|     1010.0|         350.0|     470.0|     342.0|       3.2229|          108300.0|2.8857142857142857|
|31.620000000000005|   33.91|              36.0|     2904.0|         515.0|    1463.0|     534.0|       5.8374|          289600.0|  5.63883495145631|
+------------------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 20 rows